<html ng-app>
  <head>
    <title>todo</title>
    <script src="js/angular.min.js"></script>
    <script src="js/todo.js"></script>
  </head>
  <body ng-controller='TodoController'>
    <h1>To Do List</h1>
    <div ng-repeat='item in items'>
      <span>{{item.title}}</span>
      <input ng-model='item.duration'>
      <span>{{item.price | currency}}</span>
      <span>{{item.price * item.duration | currency}}</span>
      <button ng-click="remove($index)">Done</button>
    </div>
  </body>
</html>



